@import './../common-styles/variables.scss';

.notes-wrappper {
    padding: 20px;
    .notes-header {
        display: flex;
        align-items: center;
        .notes-head {
            width: 15%;
            font-size: 24px;
            margin: 0;
        }
        .notes-search {
            width: 35%;
        }
        .notes-user {
            width: 50%;
            text-align: right;
            .notes-username {
                color: $blue;
            }
        }
    }
    .notes-body {
        display: flex;
        margin-top: 30px;
        .notes-filter {
            width: 15%;
            ul {
                margin: 0;
                padding: 0;
                list-style: none;
                li {
                    line-height: 40px;
                    cursor: pointer;
                    color: $grey;
                    &:hover {
                        color: $neutral;
                    }
                    &.active {
                        font-weight: bold;
                        &:before {
                            content: '';
                            display: block;
                            background-color: $blue;
                            width: 5px;
                            height: 40px;
                            position: absolute;
                            left: 5px;
                        }
                    }
                }
            }
        }
        .notes-list {
            width: 35%;
            h2 {
                margin: 0;
                padding-left: 15px;
            }
            .notes-item {
                min-height: 120px;
                background-color: $light-grey;
                margin-top: 10px;
                border-radius: 15px;
                padding: 15px;
                cursor: pointer;
                &.selected {
                    background-color: $blue;
                    color: $white;
                }
                &:hover {
                    background-color: $neutral;
                    color: $white;
                }
                .notes-title {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    font-size: 14px;
                    h3 {
                        margin: 0;
                    }
                    .notes-title-view {
                        display: flex;
                        align-items: center;
                        .notes-deleted {
                            background-color: $error;
                            padding: 5px 15px;
                            margin-left: 10px;
                            border-radius: 15px;
                        }
                    }

                    .notes-action-buttons {
                        font-size: 24px;
                        i {
                            padding-left: 15px;
                        }
                    }
                }
                .notes-summary {
                    padding-top: 20px;
                }
            }
        }
        .notes-content-wrapper {
            width: 50%;
            .notes-content-wrapper-padding {
                padding-left: 50px;
            }
            .notes-content-top {
                display: flex;
                justify-content: space-between;
                align-items: center;
                .notes-content-title {
                    h2 {
                        margin: 0;
                    }
                    .notes-date {
                        font-size: 12px;
                        color: $blue;
                    }
                }
                .notes-content-action-buttons {
                    font-size: 24px;
                    i {
                        padding-left: 15px;
                        cursor: pointer;
                    }
                }
            }
            .notes-content {
                padding-top: 50px;
            }
        }
    }
    .notes-edit-wrapper {
        display: flex;
        justify-content: center;
        margin-top: 30px;
        .notes-edit {
            width: 60%;
            .notes-edit-top {
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 24px;
                h3 {
                    margin: 0;
                    padding-left: 15px;
                }
                i {
                    cursor: pointer;
                    padding-left: 15px;
                }
            }
            .notes-edit-form {
                padding-top: 10px;
                label {
                    padding-left: 15px;
                    .asterix {
                        color: $error;
                    }
                }
                input, textarea {
                    display: block;
                    padding: 0 15px;
                    margin: 10px 0 20px;
                    width: 80%;
                    &.text-area {
                        min-height: 200px;
                        resize: none;
                        padding: 15px 15px;
                    }
                }
                .notes-edit-save-wrapper {
                    margin-top: 30px;
                    button {
                        margin-right: 30px;
                    }
                }
            }
        }
    }
}