@import "./../../common-styles/variables.scss";

.notes-edit-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    .notes-edit {
        width: 60%;
        .notes-edit-top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 24px;
            h3 {
                margin: 0;
                padding-left: 15px;
            }
            i {
                cursor: pointer;
                padding-left: 15px;
            }
        }
        .notes-edit-form {
            padding-top: 30px;
            label {
                padding-left: 15px;
                font-weight: bold;
                .asterix {
                    color: $error;
                }
            }
            input, textarea {
                display: block;
                padding: 0 15px;
                margin: 10px 0 20px;
                width: 80%;
                &.text-area {
                    min-height: 200px;
                    resize: none;
                    padding: 15px 15px;
                }
            }
            .notes-edit-save-wrapper {
                margin-top: 30px;
                button {
                    margin-right: 30px;
                }
            }
        }
    }
}