@import "../../common-styles/variables.scss";

.notes-item {
    min-height: 120px;
    background-color: $light-grey;
    margin-top: 10px;
    border-radius: 15px;
    padding: 15px;
    cursor: pointer;
    &.selected {
        background-color: $blue;
        color: $white;
        .notes-action-buttons {
            i {
                color: $grey;
            }
        }
    }
    &:hover {
        background-color: $neutral;
        color: $white;
    }
    .notes-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 14px;
        h3 {
            margin: 0;
        }
        .notes-title-view {
            display: flex;
            align-items: center;
            .notes-deleted {
                background-color: $error;
                padding: 5px 15px;
                margin-left: 10px;
                border-radius: 15px;
            }
        }

        .notes-action-buttons {
            font-size: 24px;
            i {
                padding-left: 15px;
            }
        }
    }
    .notes-summary {
        padding-top: 20px;
    }
}