@import './../../common-styles/variables.scss';

.notes-filter {
    width: 15%;
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
            line-height: 40px;
            cursor: pointer;
            color: $grey;
            &:hover {
                color: $neutral;
            }
            &.active {
                font-weight: bold;
                &:before {
                    content: '';
                    display: block;
                    background-color: $blue;
                    width: 5px;
                    height: 40px;
                    position: absolute;
                    left: 5px;
                }
            }
        }
    }
}