@import './common-styles/variables.scss';

.notes-wrappper {
    padding: 20px;
    .notes-header {
        display: flex;
        align-items: center;
        .notes-head {
            width: 15%;
            font-size: 24px;
            margin: 0;
        }
        .notes-search {
            width: 35%;
        }
        .notes-user {
            width: 50%;
            text-align: right;
            .notes-username {
                color: $blue;
            }
        }
    }
    .notes-body {
        display: flex;
        margin-top: 30px;
        .notes-list {
            width: 35%;
            h2 {
                margin: 0;
                padding-left: 15px;
            }
            .notes-no-results {
                padding: 15px;
            }
        }
    }
}