@import "./../../common-styles/variables.scss";

.notes-content-wrapper {
    width: 50%;
    .notes-content-wrapper-padding {
        padding-left: 50px;
    }
    .notes-content-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .notes-content-title {
            h2 {
                margin: 0;
            }
            .notes-date {
                font-size: 12px;
                color: $blue;
            }
        }
        .notes-content-action-buttons {
            font-size: 24px;
            i {
                padding-left: 15px;
                cursor: pointer;
            }
        }
    }
    .notes-content {
        padding-top: 50px;
    }
}