$blue: #00D1FF;
$blue-half-opactity: #00d0ff79;
$neutral: #000;

$white: #fff;
$grey: #A4A4A4;
$light-grey: #F2F2F2;
$error: #FF0000;

.fas, .far {
    color: $grey;
    &.disabled {
        pointer-events: none;
        opacity: 0.5;
    }
}

.fas.fa-star {
    color: $blue;
}

.hide {
    display: none !important;
}

.fill-box {
    &:valid {
        border: 1px solid $neutral;
        color: $neutral;
    }
}

.validation-fill-box {
    &:valid {
        border: 1px solid $neutral;
        color: $neutral;
    }
    &:invalid {
        border: 1px solid $error;
        color: $error;
    }
}

.generic-textbox {
    width: 100%;
    height: 40px;
    border-radius: 25px;
    padding-left: 15px;
    border: 1px solid $grey;
    color: $grey;
    outline: 0;
    &:hover {
        border: 1px solid $blue;
        color: $grey;
    }
    &:focus {
        border: 1px solid $blue;
        color: $neutral;
    }
}


button.generic-outlined-button {
    cursor: pointer;
    padding: 15px 30px;
    border: 1px solid $blue;
    background-color: $white;
    border-radius: 15px;
    color: $neutral;
    &:hover {
        color: $blue;
        border: 1px solid $neutral;
    }
    &[disabled] {
        background-color: $white;
        border: 1px solid $blue-half-opactity;
        color: $neutral;
    }
}

button.generic-solid-button {
    cursor: pointer;
    padding: 15px 30px;
    border: 1px solid $blue;
    background-color: $blue;
    border-radius: 15px;
    color: $white;
    &:hover {
        color: $white;
        background-color: $neutral;
        border: 1px solid $neutral;
    }
    &[disabled] {
        background-color: $blue-half-opactity;
        border: 1px solid $blue-half-opactity;
        color: $white;
    }
}